<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto"
        android:usesCleartextTraffic="true">

        <activity android:name=".usuarios.UsuariosActivity" />
        <activity android:name=".LogrosActivity" />
        <activity android:name=".CrearPartidaActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".PartidaActivity" />
        <activity android:name=".LobbyActivity" />
        <activity android:name=".registro.RegisterActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>